* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;0,700;1,200;1,300;1,400;1,500&display=swap');

html,
body {
    background: #FF512F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF512F, #F09819);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF512F, #F09819); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    font-family: 'Montserrat', sans-serif;
    
}

:root {
    --bg-primary: #FF512F;
    --bg-secundary: #000000;
    --borders: rgba(255, 180, 109, 0.568);
}

.food-head {
    /* width: 100vw; */
    height: 15vh;
    border-bottom: 1px solid var(--borders);
    display: flex;
    justify-content: space-between;
}

.food-navigation {
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.food-navigation .title {
    font-size: 0.6rem;
    color: #FFF;
    text-transform: uppercase;
}

.food-navigation img {
    width: 10vw;
}

.food-navigation ul {
    display: flex;
    align-items: center;
}

.food-navigation ul li{
    font-size: 0.8rem;
    margin: 3%;
    padding: 3%;
    text-transform: uppercase;
    font-weight: 400;
}

.food-navigation ul li a {
    color: #FFF;
    margin: 10%;transition: 0.3s;
}

.food-navigation ul li a:hover {
    color:var(--bg-secundary);
}

.food-buttons {
    display: flex;
    align-items: center;
    margin-right: 0%;
}

.food-buttons .order {
    background:var(--bg-secundary);
    color: #FFF;
    border: none;
    border-radius: 3px;
    width: 14vw;
    height: 7vh;
    font-size: 1.0rem;
    font-weight: 500;
    margin: 5%;
    text-transform: uppercase;
    cursor: pointer;
}

.food-buttons .order:focus {
    border: 1px solid #FFF;
}

.food-buttons #selections  {
    color: #FFF;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}


.food-buttons #selections option {
    outline: none;
    color:var(--bg-secundary);
    cursor: pointer;
}

.food-buttons .shopping {
    width: 4vw;
    height: 7vh;
    border: 1px solid var(--borders);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin: 3%;
}

.food-buttons .shopping i {
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
}


.food-buttons .phone {
    width: 20vw;
    color: #FFF;
    font-size: 1.3rem;
    display: flex;
    align-items: center;

}

/* Conteudo destaque da home */

.food-container-home {
    display: grid;
    grid-template-columns: 20vw 1fr 15%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "previous image next";
}

.food-container-home .previous-product {
    grid-area: previous;
    /* background-color: brown; */
    height: 84vh;
    border-right: 1px solid rgba(255, 180, 109, 0.568);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}



.food-container-home .previous-product h1 {
    color: #FFF;
    font-size: 5.9rem;
    font-style: unset;
}


.food-container-home .previous-product span {
    font-size: 2.0rem;
    text-transform: uppercase;
    cursor: pointer;
    color: #FFF;
}

.food-container-home .previous-product .search {
    width: 4vw;
    height: 7vh;
    border: 1px solid var(--borders);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin: 3%;
    color: #FFF;
    cursor: pointer;
}

.food-container-home .home-image {
    grid-area: image;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;

}

.food-container-home .home-image img {
    width: 60vw;
    height: 70vh;
    
}

.food-container-home .next-product {
    grid-area: next;
    /* background-color: cornflowerblue; */
    border-left: 1px solid var(--borders);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.food-container-home .next-product h1 {
    color: #FFF;
    font-size: 5.9rem;
}

.food-container-home .next-product span {
    font-size: 2.0rem;
    text-transform: uppercase;
    cursor: pointer;
}

.select-product {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #FFF;
}

.select-product h1:nth-child(1) {
    padding: 1%;
    color: var(--bg-secundary);
    text-transform: uppercase;
    
}

.select-product h1:nth-child(2) {
    padding: 1%;
    color: var(--bg-primary);
    text-transform: uppercase;

}

.select-product .carousel-product {
    display: flex;
    align-items: center;
    width: 50vw;
}

.select-product .carousel-product img {
    width: 50px;
    height: 80px;
    margin: 10px;
}

.select-product  span {
    font-size: 1.5rem;
    color: var(--bg-secundary);
    width: 5%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.select-product  span:hover {
    color: var(--bg-primary);
    background-color: var(--bg-secundary);
}